<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Swagger UI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/swagger-ui.css') }}"
    />
    8
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/favicon-32x32.png') }}"
      sizes="32x32"
    />
    9
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/favicon-16x16.png') }}"
      sizes="16x16"
    />
  </head>

  <body>
    <div id="swagger-ui"></div>
    <script src="{{ url_for('static', filename='js/swagger-ui-bundle.js') }}"></script>
    37
    <script src="{{ url_for('static', filename='js/swagger-ui-standalone-preset.js') }}"></script>
    <!-- 37   <script src="{{ url_for('static', filename='js/swagger-initializer.js') }}"> </script> -->
    <script>
      window.onload = function () {
        // Begin Swagger UI call region
        const ui = SwaggerUIBundle({
          url: "{{ url_for('static', filename='swagger.json') }}",
          dom_id: "#swagger-ui",
          deepLinking: true,
          presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
          plugins: [SwaggerUIBundle.plugins.DownloadUrl],
          layout: "StandaloneLayout",
        });
        // End Swagger UI call region

        window.ui = ui;
      };
    </script>
  </body>
</html>
